In [7]:
from __future__ import absolute_import, division, print_function, unicode_literals

# TensorFlow
import tensorflow as tf
import numpy as np
import scipy
import scipy.io
import scipy.sparse as sp
import pandas as pd
from itertools import groupby


%load_ext autoreload
%autoreload 2

from preprocessing import*

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
def load_data(path_dataset):
    """Load data in text format, one rating per line, as in the kaggle competition."""
    ratings= pd.read_csv(path_dataset)
    split = ratings.Id.astype(str).str.split(r"r|_c", expand=True)
    prediction = ratings[['Prediction']]
    ratings.drop(['Id','Prediction'],axis = 1, inplace = True)
    ratings['user_id'] = split[1]
    ratings['movie_id'] = split[2]
    ratings['rating'] = prediction
    return ratings

In [11]:
DATA_TRAIN_PATH = "data/data_train.csv"
data = load_data(DATA_TRAIN_PATH)

samples = load_data('data/sampleSubmission.csv')

In [63]:
from sklearn.model_selection import train_test_split
train_data_np, test_data_np = train_test_split(data[['user_id', 'movie_id', 'rating']], 
                                               test_size = 0.2 ,random_state=1)

In [64]:
test_data_np.head()

        user_id movie_id  rating
1014743    1219      803       5
791571     1865      643       1
967641     1382      771       3
65567      3295       53       3
622228     9259      530       4

In [38]:
global_mean = train_data_np[['rating']].mean()

In [46]:
samples.head()

  user_id movie_id  global_mean_rating
0      37        1            3.857281
1      73        1            3.857281
2     156        1            3.857281
3     160        1            3.857281
4     248        1            3.857281

In [39]:
test_data_np['global_mean_rating']=test_data_np[['user_id', 'movie_id']] \
.apply(lambda row: global_mean, axis=1)

In [40]:
test_data_np.to_csv('global_mean_test.csv')

In [41]:
ratings = pd.DataFrame(data.groupby('user_id')['rating'].mean())

In [42]:
ratings.head()

           rating
user_id
1        4.043478
10       3.822430
100      3.266667
1000     4.052511
10000    3.973684

In [55]:
(data.groupby(['user_id', 'movie_id'], as_index=False).mean()
            .groupby('user_id')['rating'].mean())[1]

3.822429906542056

In [54]:
gb = data.groupby('user_id')

In [62]:
pred= samples.drop(columns=['rating']) \.merge(ratings, on = ['user_id'])

SyntaxError: unexpected character after line continuation character (<ipython-input-62-d3ff54cccafe>, line 1)

In [ ]:
samples.head()