In [2]:
import numpy as np
# Imports
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

from surprise import Dataset
from surprise import Reader

from surprise import KNNBasic, KNNWithMeans, KNNWithZScore
from surprise import SVD, SVDpp, NMF
from surprise import SlopeOne, CoClustering
%matplotlib inline
from blendingFunction import*

## Load Data

In [3]:
from data_related.data import Data

In [4]:
data = Data()

Preparing data ...
Splitting data to train and test data ...
... blend.
... data is splitted.
... data is prepared.

In [6]:
data.valid_df.head()

        user_id movie_id  rating
16518      4275       10       3
443000     3725      370       5
933769     9639      742       4
456054     5624      389       4
1121681    7514      933       3

In [7]:
reader = Reader(rating_scale=(1, 5))
train_data = Dataset.load_from_df(data.train_df, reader=reader)
test_data = Dataset.load_from_df(data.test_df, reader=reader)
valid_data = Dataset.load_from_df(data.valid_df, reader=reader)

In [75]:
trainset = train_data.build_full_trainset()

simoption = {'name' : 'pearson_baseline', 'user_based':True}
knnmeans_user = KNNWithMeans(k = 500, sim_options = simoption).fit(trainset)

test_data_np['ratingknnmeans_user'] = data.test_df[['user_id', 'movie_id']] \
.apply(lambda row: knnmeans_user.predict(row['user_id'], row['movie_id'])[3], axis=1)

valid_data_np['ratingknnmeans_user'] = valid_data_np[['user_id', 'movie_id']] \
.apply(lambda row: knnmeans_user.predict(row['user_id'], row['movie_id'])[3], axis=1)


simoption = {'name' : 'pearson_baseline', 'user_based':False}
knnmeans_item = KNNWithMeans(k = 57, sim_options = simoption).fit(trainset)


data.test_df['ratingknnmeans_item'] =data.test_df[['user_id', 'movie_id']] \
.apply(lambda row: knnmeans_item.predict(row['user_id'], row['movie_id'])[3], axis=1)

data.valid_df['ratingknnmeans_item'] = data.valid_df[['user_id', 'movie_id']] \
.apply(lambda row: knnmeans_item.predict(row['user_id'], row['movie_id'])[3], axis=1)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [63]:
valid_data_np.head()

        user_id movie_id  rating  ratingknnmeans_user  ratingknnmeans_item
16518      4275       10       3             3.790300             3.643554
443000     3725      370       5             3.903508             4.056220
933769     9639      742       4             3.826401             4.081580
456054     5624      389       4             3.618853             3.553138
1121681    7514      933       3             3.748165             3.840001

In [84]:
from sklearn.preprocessing import MinMaxScaler


model_rating = ['ratingknnmeans_user','ratingknnmeans_item', 'rating']
model_blend = ['user_id', 'movie_id','ratingknnmeans_user','ratingknnmeans_item']
scaler = MinMaxScaler()

data.valid_df[model_rating] = scaler.fit_transform(valid_data_np[model_rating])
X_val =

        user_id movie_id  rating  ratingknnmeans_user  ratingknnmeans_item
16518      4275       10    0.50             0.697575             0.660889
443000     3725      370    1.00             0.725877             0.764055
933769     9639      742    0.75             0.706600             0.770395
456054     5624      389    0.75             0.654713             0.638285
1121681    7514      933    0.50             0.687041             0.710000
421744     1152      350    1.00             0.660045             0.685614
201592     5602      176    0.75             0.786064             0.857255
793470     7733      643    1.00             0.822793             0.795347
799391     8183      645    1.00             0.859346             0.868871
295082     7378      247    0.50             0.736396             0.687399
184989     6277      161    1.00             0.839918             0.769126
196860     9395      172    0.25             0.586525             0.622975
391309     9140      320    1.00             0.760615             0.813279
218800     1570      184    0.50             0.680512             0.756911
1006660    3805      794    1.00             0.739417             0.731102
217273     4608      183    0.75             0.722063             0.692231
924443     4123      733    0.25             0.676919             0.728538
979673     8233      776    1.00             0.780978             0.905189
896534     3582      702    1.00             0.752734             0.673179
641904      691      549    0.25             0.679745             0.672051
1130205    2151      947    0.25             0.440280             0.428058
1054814    5636      844    0.50             0.700495             0.713942
128334     3891      106    0.50             0.695009             0.736828
223633     8190      186    0.50             0.720743             0.764294
392836     5384      321    1.00             0.945282             0.934424
249744     8652      207    0.50             0.488610             0.452129
311897     4604      257    1.00             0.858207             0.880970
476719     5093      411    0.75             0.659894             0.669108
743220     2146      615    1.00             0.865559             0.866806
542044     8218      466    0.50             0.683743             0.722747
...         ...      ...     ...                  ...                  ...
424049     9311      350    0.75             0.773823             0.675792
365526     3789      306    0.75             0.846181             0.653254
163594     1704      142    0.75             0.668723             0.684839
587923     8519      493    1.00             0.761179             0.741295
1102940     636      911    0.25             0.609087             0.582438
32241      2006       22    0.50             0.558723             0.593180
906751     9315      707    0.50             0.670638             0.729483
952367     6100      756    1.00             0.747289             0.758234
607608     7620      509    1.00             0.701950             0.723593
112320     3553       94    0.75             0.724140             0.711266
808025     9150      650    1.00             0.908809             0.886046
625663     6353      534    0.50             0.813741             0.705901
885090     7269      694    0.75             0.797272             0.758603
277308     1191      234    1.00             0.713256             0.696103
1062985    4474      854    0.75             0.573043             0.585248
37182      7862       26    0.75             0.862415             0.854473
427269     2733      352    0.50             0.723872             0.694065
524550     3303      451    0.75             0.745742             0.744713
493401     6001      423    0.25             0.670874             0.700556
2561       3014        4    1.00             0.674630             0.691258
888280     9105      696    0.75             0.754281             0.823331
515438     1253      442    1.00             0.739228             0.746731
735025     6549      611    0.00             0.950636             0.911709
366233     6531      306    1.00             0.694428             0.671332
952132     5049      756    0.50             0.774392             0.721071
490324     8834      420    0.50             0.493094             0.443193
244427     1939      203    0.75             0.858872             0.893765
127589     1322      106    1.00             0.538706             0.500443
397611     6485      323    0.25             0.661921             0.700219
106888     8605       89    0.75             0.650630             0.626842

[117695 rows x 5 columns]

In [73]:
model = LogisticRegression()
model.fit(X_val,y_val)

/home/emma-hoggett/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:939: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html.
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)